node_modules
.env
package-lock.json
/Users/rohithborana/stuf/MajProj/cyber-agents/backend/__pycache__/agents.cpython-313.pyc
.env
/Users/rohithborana/stuf/MajProj/cyber-agents/.env
cyber-agents/.env
__pycache__